In [3]:
import MetaTrader5 as mt5 
import pandas as pd
import numpy as np
from statsmodels.tsa.stattools import adfuller 
from datetime import datetime
import requests
import pandas as pd
import numpy as np
import warnings
import json
warnings.filterwarnings("ignore")
mt5.initialize()
# Replace following with your MT5 Account Login
account=51434456 # 
password="9UpBvVzc"
server = 'ICMarkets-Demo'

def get_rates(pair1, timeframe, x):
    pair1 = pd.DataFrame(mt5.copy_rates_from_pos(pair1, timeframe, 0, x))
    pair1['time'] = pd.to_datetime(pair1['time'], unit = 's')
    return pair1[['time','open', 'high', 'low', 'close']].set_index('time')

## Data Gathering

In [4]:
import requests
import xml.etree.ElementTree as ET
import pandas as pd

combined_dfs = {}

# Define the base URL for the BIS Stats API
base_url = 'https://stats.bis.org/api/v1'

count_codes = [['AUDUSD.a','AU'], ['USDCAD.a', 'CA'],
               ['USDCHF.a','CH'], ['GBPUSD.a', 'GB'],
               ['USDJPY.a', 'JP'], ['NZDUSD.a', 'NZ'], 
               ['EURUSD.a', 'XM']]

for country in count_codes:

    # Define the endpoint parameters
    flow = 'BIS,WS_EER_D,1.0'  # Example: Version 1.0 of the WS_EER_M domain, maintained by the BIS
    key = f'D.N.N.{country[1]}'
    start_period = '2000'  # Example: Start year 2000
    end_period = '2023'  # Example: End year 2020
    detail = 'full'  # Example: All data and documentation

    # Construct the endpoint URL
    endpoint_url = f'{base_url}/data/{flow}/{key}/all'

    # Define the query parameters
    query_params = {
        'startPeriod': start_period,
        'endPeriod': end_period,
        'detail': detail
    }

    # Make the GET request
    response = requests.get(endpoint_url, params=query_params)

    # Check for a successful response
    if response.status_code == 200:
        # Assign the text of the response to xml_data
        xml_data = response.text

        # Parse the XML data
        root = ET.fromstring(xml_data)

        # Initialize empty lists to store the data
        time_periods = []
        obs_values = []

        # Iterate through the XML and extract the desired information
        for obs in root.findall(".//Obs"):
            time_period = obs.get('TIME_PERIOD')
            obs_value = obs.get('OBS_VALUE')
            time_periods.append(time_period)
            obs_values.append(obs_value)

        # Create a DataFrame
        df = pd.DataFrame({
            'Time_Period': time_periods,
            'OBS_Value': obs_values
        })

        df['OBS_Value'] = df['OBS_Value'].replace('NaN', np.nan)
        # Drop rows with NaN values
        df.dropna(subset=['OBS_Value'], inplace=True)
        df['OBS_Value'] = df['OBS_Value'].astype(float)
        df['Time_Period'] = pd.to_datetime(df['Time_Period'])
        
        df = df.set_index('Time_Period')
        print(f"Getting {country[0]}'s rates")
        rates = get_rates(country[0], mt5.TIMEFRAME_D1, 2500)
        
        combined = pd.concat([df[-len(rates):], rates['close']], join = 'outer', axis = 1)
        
        combined_dfs[country[1]] = combined.dropna()

    else:
        print(f'Failed to retrieve data: {response.status_code}')

Getting AUDUSD.a's rates
Getting USDCAD.a's rates
Getting USDCHF.a's rates
Getting GBPUSD.a's rates
Getting USDJPY.a's rates
Getting NZDUSD.a's rates
Getting EURUSD.a's rates

In [5]:
# Compute Expected Returns
weekly_dfs = {}
features = ['OBS_Value', 'close']

for name, dfs in combined_dfs.items():
    df = combined_dfs[name]
    # Assuming 'df' is your DataFrame
    df['date'] = pd.to_datetime(df.index)
    df.set_index('date', inplace=True)

    # Resample to get the last value of each week
    weekly = df.resample('W').last()
    weekly_dfs[name] = weekly

for df in weekly_dfs.values():
    df['EER_ret'] = df['OBS_Value'].pct_change()

In [6]:
for df in weekly_dfs.values():
    print(df['EER_ret'].iloc[-1])

-0.0017504619274529842
0.0004950985246066075
0.0007063393960797804
-0.0017371163867979655
-0.006657963446475068
0.0007866273352998832
0.0029310693349504646

In [7]:
last_update = {}

for name, df in weekly_dfs.items():
    last_update[name] = df['EER_ret'].iloc[-1]

In [8]:
last_update.keys()
symbols = ['AUDUSD.a', 'USDCAD.a', 'USDCHF.a', 'GBPUSD.a', 'USDJPY.a', 'NZDUSD.a', 'EURUSD.a']

last_update = {symbols[i]: value for i, (key, value) in enumerate(last_update.items())}

## Order Sending / Closing Logic

In [25]:
def close_all():
    close_positions = []
    open_positions = mt5.positions_get()
    open_positions
    for i in open_positions:
        close_positions.append(i)
        
    for pos in close_positions:
        close_position(pos)
        
def close_position(position):

    tick = mt5.symbol_info_tick(position.symbol)

    request = {
        "action" : mt5.TRADE_ACTION_DEAL,
        "position": position.ticket,
        "symbol": position.symbol,
        "volume": position.volume,
        "type": mt5.ORDER_TYPE_BUY if position.type == 1 else mt5.ORDER_TYPE_SELL,
        "price": tick.ask if position.type == 1 else tick.bid,
        "deviation": 20,
        "magic": 100,
        "comment": 'Regres Close',
        'type_time': mt5.ORDER_TIME_GTC,
        'type_filling':mt5.ORDER_FILLING_IOC,

        }
    result = mt5.order_send(request)

In [26]:
close_all()

In [9]:
def send_order(symbol, side, lot, comment):
    
    if side.lower() == 'sell':
        order_type = mt5.ORDER_TYPE_SELL
        price = mt5.symbol_info_tick(symbol).bid
    elif side.lower() == 'buy':
        order_type = mt5.ORDER_TYPE_BUY
        price = mt5.symbol_info_tick(symbol).ask
    
    request = {
        "action": mt5.TRADE_ACTION_DEAL,
        "symbol": symbol,
        "volume": lot,
        "type": order_type,
        "price": price,
        "deviation": 5,
        "magic": 234000,
        "comment": comment,
        "type_time": mt5.ORDER_TIME_GTC,
        "type_filling": mt5.ORDER_FILLING_IOC,
    }
    result = mt5.order_send(request)
    result

### Simple Order Send
Copying EER return direction as data is released.

In [27]:
for symbol, value in last_update.items():
    if symbol[:3] == 'USD':
        print(f"Looping through {symbol}")
        if value > 0:
            send_order(symbol, 'sell', 1.00, 'EER')
            print(f"Selling {symbol}")
        else:
            send_order(symbol, 'buy', 1.00, 'EER')
    else:
        if value > 0:
            send_order(symbol, 'buy', 1.00, 'EER')
        else:
            send_order(symbol, 'sell', 1.00, 'EER')

Looping through USDCAD.a
Selling USDCAD.a
Looping through USDCHF.a
Selling USDCHF.a
Looping through USDJPY.a

### EER / Close return difference forcast (XGBoost Model)
Forecast with an XGBoost model what the difference of returns will likely be between the EER value / currency close price. After finding the likely difference in returns, either increase (rare cases I reckon) position size or decrease accordingly. Allocate 40% of funds to this strategy to this forecast.

### EER Forecast (ARIMA Model)

Forecast next EER value fo each currency for the next week. If EER forecast is within the IQR ranges associated with each currency, adjust lot sizes for the other two strategies accordingly.

## Research

Analyzing the relationship of EER data and close prices.

In [11]:
for df in weekly_dfs.values():
    df['ret'] = df['close'].pct_change()
    df['ret_diff'] = df['EER_ret'] - df['ret']
    df = df.dropna()

In [12]:
for name, df in weekly_dfs.items():
    print(f"EER Correlation with {name} is: - {df['EER_ret'].corr(df['ret'])}")

EER Correlation with AU is: - 0.7901864448535373
EER Correlation with CA is: - -0.8028662382263346
EER Correlation with CH is: - -0.6972064531265871
EER Correlation with GB is: - 0.6872038876573434
EER Correlation with JP is: - -0.8162789646117152
EER Correlation with NZ is: - 0.7759010905793634
EER Correlation with XM is: - 0.7546198496480194

In [19]:
desc_stats = pd.DataFrame()

for name in weekly_dfs:
    desc_stats[f"{name} Stats"] = weekly_dfs[name]['ret_diff'].describe()
desc_stats

,AU Stats,CA Stats,CH Stats,GB Stats,JP Stats,NZ Stats,XM Stats
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,0.000331,-0.000780,0.000455,0.000355,-0.001187,0.000385,0.000303
std,0.009016,0.018449,0.020908,0.009577,0.022378,0.009825,0.007543
min,-0.053037,-0.064334,-0.104875,-0.050289,-0.100707,-0.055615,-0.033891
25%,-0.005043,-0.011253,-0.009497,-0.005518,-0.013587,-0.004930,-0.004470
50%,0.000351,-0.000383,-0.000585,0.000610,-0.002483,0.000214,0.000593
75%,0.005571,0.011458,0.009036,0.005837,0.010900,0.005794,0.004755
max,0.033373,0.059054,0.284139,0.036804,0.077664,0.039223,0.029442

In [46]:
eer_vals = pd.DataFrame()

for name in weekly_dfs:
    eer_vals[f'{name}'] = weekly_dfs[name]['OBS_Value']
    
eer_vals

                AU      CA      CH      GB     JP      NZ      XM
date
2014-05-18  121.02  118.78   90.49  113.37  95.45  113.97  105.97
2014-05-25  119.55  118.63   90.36  114.02  95.19  113.35  105.64
2014-06-01  120.61  119.35   90.36  113.41  95.38  112.25  105.57
2014-06-08  121.06  118.37   90.58  113.84  94.61  112.78  105.71
2014-06-15  121.81  119.26   90.29  115.36  95.10  114.50  104.76
...            ...     ...     ...     ...    ...     ...     ...
2023-11-19  101.76  100.03  111.49  102.15  73.96   99.72  100.55
2023-11-26  102.54  100.19  111.62  102.95  73.69  100.72  100.65
2023-12-03  103.02  101.12  112.62  103.62  74.34  102.05   99.92
2023-12-10  102.83  100.99  113.26  103.62  76.60  101.70   98.94
2023-12-17  102.65  101.04  113.34  103.44  76.09  101.78   99.23

[501 rows x 7 columns]

In [52]:
from statsmodels.tsa.stattools import coint
import itertools
import pandas as pd

def cointegration_test(series1, series2):
    '''Runs cointegration test on two series'''
    score, p_value, _ = coint(series1, series2)
    return {'Cointegration Score': score, 'p-value': p_value}

In [54]:
# Dictionary to store cointegration test results
coint_results = {}

# Create all possible pairs
pairs = itertools.combinations(df.columns, 2)

# Perform cointegration test on each pair
for pair in pairs:
    series1, series2 = eer_vals[pair[0]], eer_vals[pair[1]]
    coint_results[pair] = cointegration_test(series1, series2)

# Display the results
for key, value in coint_results.items():
    print(f"Cointegration Test for pair {key}:\n{value}\n")

KeyError: 'OBS_Value'

## Risk Management Framework

Aim is to take into account associated statistics between the two and minimise volatility whilst maximising return. Appropriate measures can include:
- MVO or BL Portfolio
- Correlation analysis and appropriate hedging associated