In [44]:
import requests
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import MetaTrader5 as mt5
mt5.initialize()
# Replace following with your MT5 Account Login
account=51434456 # 
password="9UpBvVzc"
server = 'ICMarkets-Demo'

In [50]:
import pdfplumber
import pandas as pd
from io import StringIO

# Open the PDF file
with pdfplumber.open("cot_report.pdf") as pdf:
    # Assuming data is on the first page, otherwise loop over pdf.pages
    page = pdf.pages[0]
    # Extract the text from the PDF
    text_data = page.extract_text()

In [65]:
text_data

'Learn to Trade Commodities and Futures Using COT Report with InsiderWeek Summary of COT report from 11/28/2023\nCommercial Large Speculators Small Traders Open Interest Net Position - Commercials 26-weeks Position\n12W /0e 1e /k 2 0to 23 chP ari nc ge e Trend Extremes Commercial IC ndO eT x\nLong Change Short Change Long Change Short Change Long Change Short Change Value Change Net Change Change High Low\nIndices\nS&P500 0.78% 1 671 401 6 204 1 649 442 18 216 281 709 34 748 346 736 19 695 258 805 -3 407 215 737 -366 2 279 894 2% 21 959 -12 012 -35% 308 044 -34 736 17%\nNASDAQ 0.12% 166 329 3 574 177 231 3 191 78 702 4 376 71 424 2 142 42 502 706 38 878 3 323 293 315 3% -10 902 383 -3% 13 627 -14 434 13%\nRUSSELL 3.19% 444 001 9 776 391 852 10 883 75 264 5 168 130 757 3 415 26 746 -421 23 402 225 550 971 3% 52 149 -1 107 -2% 72 636 40 876 35%\nDOW 2.52% 63 963 -2 419 34 536 7 543 22 196 5 795 46 804 -3 905 11 679 996 16 498 734 98 357 4% 29 427 -9 962 -25% 42 559 -2 467 71%\nE-MINI\nBonds\n30-YR 3.04% 980 494 -24 501 928 921 -24 825 107 866 -11 994 210 042 -9 801 210 065 8 576 159 462 6 707 1 308 135 -5% 51 573 324 1% 210 303 51 249 0%\nT-BONDS\n10-YR 2.20% 3 700 892 -38 687 3 067 968 -70 770 510 993 31 406 1 196 347 58 602 431 609 -14 791 379 179 -9 904 4 775 113 -4% 632 924 32 083 5% 770 685 467 001 55%\nT-BONDS\nCurrencies\nDOLLAR -0.17% 6 746 1 769 25 038 -671 28 798 255 9 711 1 865 2 735 -553 3 530 277 39 359 4% -18 292 2 440 -12% -2 678 -20 772 14%\nINDEX\nEURO -0.60% 388 784 7 969 565 099 18 466 233 454 2 359 90 289 -11 152 82 613 -877 49 463 2 137 727 138 2% -176 315 -10 497 6% -98 293 -234 269 43%\nFX\nSWISS 1.31% 44 145 214 17 454 2 110 4 300 -427 24 589 868 11 754 1 641 18 156 -1 550 60 479 3% 26 691 -1 896 -7% 30 333 3 421 86%\nFRANC\nBRITISH 0.82% 118 253 -11 153 108 189 9 991 61 296 17 996 69 191 -207 26 067 -570 28 236 -3 511 217 372 4% 10 064 -21 144 -68% 35 439 -81 606 78%\nPOUND\nJAPANESE 1.72% 180 134 1 302 76 442 3 038 30 461 -8 775 139 698 -4 992 44 382 3 810 38 837 -1 709 260 781 -2% 103 692 -1 736 -2% 133 272 83 288 41%\nYEN\nCANADIAN 0.87% 143 464 -1 616 75 927 930 18 991 -416 82 233 -2 614 30 505 -956 34 800 -1 304 200 864 -1% 67 537 -2 546 -4% 77 698 -23 269 90%\nDOLLAR\nAUSTRALIAN 1.27% 131 213 -529 57 424 7 686 29 203 -362 100 422 -7 113 24 361 -562 26 931 -2 026 197 053 0% 73 789 -8 215 -10% 110 012 38 822 49%\nDOLLAR\nNEW 2.14% 36 898 619 16 690 -1 409 10 104 2 146 29 713 4 901 3 703 579 4 302 -148 51 460 7% 20 208 2 028 11% 24 301 -1 933 84%\nZEALAND\nMEXICAN -0.31% 131 543 1 889 202 984 10 126 105 838 17 364 40 353 10 810 7 840 698 1 884 -985 247 503 10% -71 441 -8 237 13% -33 883 -103 040 46%\nPESO\nEnergy\nCRUDE -1.06% 563 152 -3 792 769 931 -27 022 352 382 1 597 169 211 25 750 74 254 -1 867 50 646 -2 790 1 563 737 1% -206 779 23 230 -10% -166 658 -381 946 81%\nOIL\nGASOLINE -0.40% 151 267 -8 589 226 012 -3 746 108 073 1 784 41 930 -2 055 22 676 909 14 074 -95 343 973 -2% -74 745 -4 843 7% -36 853 -74 829 0%\nHEATING -2.92% 122 154 -14 646 180 445 -4 172 59 611 3 574 22 262 -3 873 49 689 2 636 28 747 -391 303 447 -2% -58 291 -10 474 22% -28 496 -69 894 28%\nOIL\nhttps://insider-week.com/'

In [73]:
lines

['Learn to Trade Commodities and Futures Using COT Report with InsiderWeek Summary of COT report from 11/28/2023',
 'Commercial Large Speculators Small Traders Open Interest Net Position - Commercials 26-weeks Position',
 '12W /0e 1e /k 2 0to 23 chP ari nc ge e Trend Extremes Commercial IC ndO eT x',
 'Long Change Short Change Long Change Short Change Long Change Short Change Value Change Net Change Change High Low',
 'Indices',
 'S&P500 0.78% 1 671 401 6 204 1 649 442 18 216 281 709 34 748 346 736 19 695 258 805 -3 407 215 737 -366 2 279 894 2% 21 959 -12 012 -35% 308 044 -34 736 17%',
 'NASDAQ 0.12% 166 329 3 574 177 231 3 191 78 702 4 376 71 424 2 142 42 502 706 38 878 3 323 293 315 3% -10 902 383 -3% 13 627 -14 434 13%',
 'RUSSELL 3.19% 444 001 9 776 391 852 10 883 75 264 5 168 130 757 3 415 26 746 -421 23 402 225 550 971 3% 52 149 -1 107 -2% 72 636 40 876 35%',
 'DOW 2.52% 63 963 -2 419 34 536 7 543 22 196 5 795 46 804 -3 905 11 679 996 16 498 734 98 357 4% 29 427 -9 962 -25% 42 559 -2 467 71%',
 'E-MINI',
 'Bonds',
 '30-YR 3.04% 980 494 -24 501 928 921 -24 825 107 866 -11 994 210 042 -9 801 210 065 8 576 159 462 6 707 1 308 135 -5% 51 573 324 1% 210 303 51 249 0%',
 'T-BONDS',
 '10-YR 2.20% 3 700 892 -38 687 3 067 968 -70 770 510 993 31 406 1 196 347 58 602 431 609 -14 791 379 179 -9 904 4 775 113 -4% 632 924 32 083 5% 770 685 467 001 55%',
 'T-BONDS',
 'Currencies',
 'DOLLAR -0.17% 6 746 1 769 25 038 -671 28 798 255 9 711 1 865 2 735 -553 3 530 277 39 359 4% -18 292 2 440 -12% -2 678 -20 772 14%',
 'INDEX',
 'EURO -0.60% 388 784 7 969 565 099 18 466 233 454 2 359 90 289 -11 152 82 613 -877 49 463 2 137 727 138 2% -176 315 -10 497 6% -98 293 -234 269 43%',
 'FX',
 'SWISS 1.31% 44 145 214 17 454 2 110 4 300 -427 24 589 868 11 754 1 641 18 156 -1 550 60 479 3% 26 691 -1 896 -7% 30 333 3 421 86%',
 'FRANC',
 'BRITISH 0.82% 118 253 -11 153 108 189 9 991 61 296 17 996 69 191 -207 26 067 -570 28 236 -3 511 217 372 4% 10 064 -21 144 -68% 35 439 -81 606 78%',
 'POUND',
 'JAPANESE 1.72% 180 134 1 302 76 442 3 038 30 461 -8 775 139 698 -4 992 44 382 3 810 38 837 -1 709 260 781 -2% 103 692 -1 736 -2% 133 272 83 288 41%',
 'YEN',
 'CANADIAN 0.87% 143 464 -1 616 75 927 930 18 991 -416 82 233 -2 614 30 505 -956 34 800 -1 304 200 864 -1% 67 537 -2 546 -4% 77 698 -23 269 90%',
 'DOLLAR',
 'AUSTRALIAN 1.27% 131 213 -529 57 424 7 686 29 203 -362 100 422 -7 113 24 361 -562 26 931 -2 026 197 053 0% 73 789 -8 215 -10% 110 012 38 822 49%',
 'DOLLAR',
 'NEW 2.14% 36 898 619 16 690 -1 409 10 104 2 146 29 713 4 901 3 703 579 4 302 -148 51 460 7% 20 208 2 028 11% 24 301 -1 933 84%',
 'ZEALAND',
 'MEXICAN -0.31% 131 543 1 889 202 984 10 126 105 838 17 364 40 353 10 810 7 840 698 1 884 -985 247 503 10% -71 441 -8 237 13% -33 883 -103 040 46%',
 'PESO',
 'Energy',
 'CRUDE -1.06% 563 152 -3 792 769 931 -27 022 352 382 1 597 169 211 25 750 74 254 -1 867 50 646 -2 790 1 563 737 1% -206 779 23 230 -10% -166 658 -381 946 81%',
 'OIL',
 'GASOLINE -0.40% 151 267 -8 589 226 012 -3 746 108 073 1 784 41 930 -2 055 22 676 909 14 074 -95 343 973 -2% -74 745 -4 843 7% -36 853 -74 829 0%',
 'HEATING -2.92% 122 154 -14 646 180 445 -4 172 59 611 3 574 22 262 -3 873 49 689 2 636 28 747 -391 303 447 -2% -58 291 -10 474 22% -28 496 -69 894 28%',
 'OIL',
 'https://insider-week.com/']

In [ ]:
import pandas as pd

# Split the text into lines
lines = text_data.split('\n')

# Initialize a DataFrame to hold all parsed data
df = pd.DataFrame()

# Define headers for the DataFrame
headers = ["Instrument", "Price Change", "Commercial Long", "Commercial Short", "Speculators Long", "Speculators Short", "Traders Long", "Traders Short", "Open Interest", "Net Position - Commercials", "26-weeks Position Extremes Commercial", "COT Index"]

# Temporary lists to hold data for each section
indices_data = []
bonds_data = []
currencies_data = []
energy_data = []

# Process lines and categorize them into different sections
current_section = None
for line in lines:
    if "Indices" in line:
        current_section = "indices"
        continue
    elif "Bonds" in line:
        current_section = "bonds"
        continue
    elif "Currencies" in line:
        current_section = "currencies"
        continue
    elif "Energy" in line:
        current_section = "energy"
        continue

    # Skip headers and empty lines
    if "Commercial" in line or not line.strip():
        continue

    # Parse data lines based on the current section
    if current_section:
        data = line.split()
        instrument_name = data[0]
        data_values = data[1:]

        # Add to the respective list based on the section
        if current_section == "indices":
            indices_data.append([instrument_name] + data_values)
        elif current_section == "bonds":
            bonds_data.append([instrument_name] + data_values)
        elif current_section == "currencies":
            currencies_data.append([instrument_name] + data_values)
        elif current_section == "energy":
            energy_data.append([instrument_name] + data_values)

# Create DataFrames for each section and concatenate them
if indices_data:
    indices_df = pd.DataFrame(indices_data, columns=headers)
    indices_df['Section'] = 'Indices'
    df = pd.concat([df, indices_df])

if bonds_data:
    bonds_df = pd.DataFrame(bonds_data, columns=headers)
    bonds_df['Section'] = 'Bonds'
    df = pd.concat([df, bonds_df])

if currencies_data:
    currencies_df = pd.DataFrame(currencies_data, columns=headers)
    currencies_df['Section'] = 'Currencies'
    df = pd.concat([df, currencies_df])

if energy_data:
    energy_df = pd.DataFrame(energy_data, columns=headers)
    energy_df['Section'] = 'Energy'
    df = pd.concat([df, energy_df])

# Reset index
df.reset_index(drop=True, inplace=True)

# Print or return the DataFrame
print(df)

ValueError: 12 columns passed, passed data had 41 columns

In [102]:
# Initialize variables
data = []
current_section = None
current_headers = []

# Split the text into lines
lines = text_data.split('\n')

# Function to get headers from a line
def get_headers(line):
    return line.split()

# Process each line
for line in lines:
    if "Indices" in line:
        current_section = "Indices"
        continue
    elif "Bonds" in line:
        current_section = "Bonds"
        continue
    elif "Currencies" in line:
        current_section = "Currencies"
        continue
    elif "Energy" in line:
        current_section = "Energy"
        continue
    elif "Long Change" in line:
        current_headers = get_headers(line)
        continue
    elif line.strip() and current_section and current_headers:
        parts = line.split()
        instrument_name = parts[0]
        instrument_data = dict(zip(current_headers, parts[1:]))
        data.append([current_section, instrument_name, instrument_data])

# Create DataFrame
df = pd.DataFrame(data, columns=["Section", "Instrument", "Data"])

# Print or return the DataFrame
df.iloc[8:15]

       Section Instrument                                               Data
8        Bonds    T-BONDS                                                 {}
9   Currencies     DOLLAR  {'Long': '28', 'Change': '735', 'Short': '255'...
10  Currencies      INDEX                                                 {}
11  Currencies       EURO  {'Long': '466', 'Change': '152', 'Short': '454...
12  Currencies         FX                                                 {}
13  Currencies      SWISS  {'Long': '4', 'Change': '1', 'Short': '-427', ...
14  Currencies      FRANC                                                 {}

In [107]:
df.iloc[11]['Data']

{'Long': '466',
 'Change': '152',
 'Short': '454',
 'Value': '359',
 'Net': '289',
 'High': '82',
 'Low': '613'}

In [114]:
df

,Section,Instrument,Data
0,Indices,S&P500,"{'Long': '442', 'Change': '736', 'Short': '216..."
1,Indices,NASDAQ,"{'Long': '191', 'Change': '142', 'Short': '702..."
2,Indices,RUSSELL,"{'Long': '883', 'Change': '415', 'Short': '264..."
3,Indices,DOW,"{'Long': '543', 'Change': '905', 'Short': '196..."
4,Indices,E-MINI,{}
5,Bonds,30-YR,"{'Long': '825', 'Change': '801', 'Short': '866..."
6,Bonds,T-BONDS,{}
7,Bonds,10-YR,"{'Long': '968', 'Change': '196', 'Short': '770..."
8,Bonds,T-BONDS,{}
9,Currencies,DOLLAR,"{'Long': '28', 'Change': '735', 'Short': '255'..."
10,Currencies,INDEX,{}
11,Currencies,EURO,"{'Long': '466', 'Change': '152', 'Short': '454..."
12,Currencies,FX,{}
13,Currencies,SWISS,"{'Long': '4', 'Change': '1', 'Short': '-427', ..."
14,Currencies,FRANC,{}
15,Currencies,BRITISH,"{'Long': '991', 'Change': '26', 'Short': '296'..."
16,Currencies,POUND,{}
17,Currencies,JAPANESE,"{'Long': '038', 'Change': '992', 'Short': '461..."
18,Currencies,YEN,{}
19,Currencies,CANADIAN,"{'Long': '18', 'Change': '505', 'Short': '-416..."
20,Currencies,DOLLAR,{}
21,Currencies,AUSTRALIAN,"{'Long': '29', 'Change': '361', 'Short': '-362..."
22,Currencies,DOLLAR,{}
23,Currencies,NEW,"{'Long': '10', 'Change': '3', 'Short': '2', 'V..."
24,Currencies,ZEALAND,{}
25,Currencies,MEXICAN,"{'Long': '126', 'Change': '810', 'Short': '838..."
26,Currencies,PESO,{}
27,Energy,CRUDE,"{'Long': '022', 'Change': '750', 'Short': '382..."
28,Energy,OIL,{}
29,Energy,GASOLINE,"{'Long': '746', 'Change': '055', 'Short': '073..."
30,Energy,HEATING,"{'Long': '172', 'Change': '873', 'Short': '611..."
31,Energy,OIL,{}
32,Energy,https://insider-week.com/,{}

In [111]:
df

,Section,Instrument,Data
0,Indices,S&P500,"{'Long': '442', 'Change': '736', 'Short': '216..."
1,Indices,NASDAQ,"{'Long': '191', 'Change': '142', 'Short': '702..."
2,Indices,RUSSELL,"{'Long': '883', 'Change': '415', 'Short': '264..."
3,Indices,DOW,"{'Long': '543', 'Change': '905', 'Short': '196..."
4,Indices,E-MINI,{}
5,Bonds,30-YR,"{'Long': '825', 'Change': '801', 'Short': '866..."
6,Bonds,T-BONDS,{}
7,Bonds,10-YR,"{'Long': '968', 'Change': '196', 'Short': '770..."
8,Bonds,T-BONDS,{}
9,Currencies,DOLLAR,"{'Long': '28', 'Change': '735', 'Short': '255'..."
10,Currencies,INDEX,{}
11,Currencies,EURO,"{'Long': '466', 'Change': '152', 'Short': '454..."
12,Currencies,FX,{}
13,Currencies,SWISS,"{'Long': '4', 'Change': '1', 'Short': '-427', ..."
14,Currencies,FRANC,{}
15,Currencies,BRITISH,"{'Long': '991', 'Change': '26', 'Short': '296'..."
16,Currencies,POUND,{}
17,Currencies,JAPANESE,"{'Long': '038', 'Change': '992', 'Short': '461..."
18,Currencies,YEN,{}
19,Currencies,CANADIAN,"{'Long': '18', 'Change': '505', 'Short': '-416..."
20,Currencies,DOLLAR,{}
21,Currencies,AUSTRALIAN,"{'Long': '29', 'Change': '361', 'Short': '-362..."
22,Currencies,DOLLAR,{}
23,Currencies,NEW,"{'Long': '10', 'Change': '3', 'Short': '2', 'V..."
24,Currencies,ZEALAND,{}
25,Currencies,MEXICAN,"{'Long': '126', 'Change': '810', 'Short': '838..."
26,Currencies,PESO,{}
27,Energy,CRUDE,"{'Long': '022', 'Change': '750', 'Short': '382..."
28,Energy,OIL,{}
29,Energy,GASOLINE,"{'Long': '746', 'Change': '055', 'Short': '073..."
30,Energy,HEATING,"{'Long': '172', 'Change': '873', 'Short': '611..."
31,Energy,OIL,{}
32,Energy,https://insider-week.com/,{}

In [118]:
df = pd.DataFrame(data, columns=["Section", "Instrument", "Data"])

# Expand the 'Data' column into separate columns
df_data_expanded = df['Data'].apply(pd.Series)

# Merge expanded data with original DataFrame (excluding the original 'Data' column)
df = pd.concat([df.drop('Data', axis=1), df_data_expanded], axis=1)

# Create a MultiIndex for columns
multi_index = pd.MultiIndex.from_product([["Instrument"], df.columns[0:]])

# Set the MultiIndex and drop the now redundant 'Section' column
df.columns = multi_index
df = df.drop(('Instrument', 'Section'), axis=1)

# Optionally reorder columns to match the specified headers order
headers_order = ["Price Change", "Commercial Long", "Commercial Short", "Speculators Long", "Speculators Short", "Traders Long", "Traders Short", "Open Interest", "Net Position - Commercials", "26-weeks Position Extremes Commercial", "COT Index"]
df = df.reindex(columns=[('Instrument', h) for h in headers_order], fill_value="")

# Print or return the transformed DataFrame
df

     Instrument                                                    \
   Price Change Commercial Long Commercial Short Speculators Long
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32

                                                               \
   Speculators Short Traders Long Traders Short Open Interest
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32


   Net Position - Commercials 26-weeks Position Extremes Commercial COT Index
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32