In [2]:
import pandas as pd
import numpy as np
import MetaTrader5 as mt5
mt5.initialize()
account=51127988
password= "Aar2frM7"
server = 'ICMarkets-Demo'

In [8]:
def get_rates(pair1, x, tf):
    pair1 = pd.DataFrame(mt5.copy_rates_from_pos(pair1, tf, 0, x))
    pair1['time'] = pd.to_datetime(pair1['time'], unit = 's')
    return pair1

In [9]:
get_rates('AUDUSD.a', 1000, mt5.TIMEFRAME_M15)

,time,open,high,low,close,tick_volume,spread,real_volume
0,2023-08-11 14:00:00,0.65228,0.65287,0.65219,0.65260,553,0,0
1,2023-08-11 14:15:00,0.65258,0.65292,0.65245,0.65288,385,0,0
2,2023-08-11 14:30:00,0.65286,0.65318,0.65272,0.65297,475,0,0
3,2023-08-11 14:45:00,0.65296,0.65308,0.65278,0.65284,467,0,0
4,2023-08-11 15:00:00,0.65284,0.65314,0.65271,0.65286,609,0,0
...,...,...,...,...,...,...,...,...
995,2023-08-25 22:45:00,0.64163,0.64168,0.64106,0.64126,531,0,0
996,2023-08-25 23:00:00,0.64120,0.64125,0.64081,0.64095,212,0,0
997,2023-08-25 23:15:00,0.64095,0.64109,0.64069,0.64073,144,0,0
998,2023-08-25 23:30:00,0.64072,0.64072,0.64035,0.64043,126,0,0
999,2023-08-25 23:45:00,0.64042,0.64053,0.64021,0.64034,224,0,0